<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
  {{ form_start(form) }}
  {{ form_row(form.current_password, {'attr':{'class':'form-control', 'autocomplete': 'off'}}) }}
  {{ form_row(form.plainPassword.first, {'attr':{'class':'form-control', 'autocomplete': 'off'}}) }}
  {{ form_row(form.plainPassword.second, {'attr':{'class':'form-control', 'autocomplete': 'off'}}) }}
  <br/>
  <button type="submit" class="btn btn-success">{% trans %}form_save{% endtrans %}</button>
  {{ form(form) }}

  {{ form_end(form) }}
</form>
